<link href='https://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Fondamento' rel='stylesheet'>
<style>
.text-center
{
  font-family:'Voltaire' ;
  color: white;
}
</style>
<footer class="text-center" style="background-image:url('https://www.solidbackgrounds.com/images/3840x2160/3840x2160-cool-black-solid-color-background.jpg')";>
    <div class=" w3-padding-25">
      <div class="subscribe">
          <div class="w3-container w3-center w3-padding-72">
         <h1 style="font-family: Rye;">Subscribe</h1>
        <p style="font-family:Fondamento;">Subscribe to get updates of our upcoming collection</p>
        <p><input class="center-block" style="width: 300px" type="text" placeholder="Enter e-mail"></p>
        <a role="button" class="w3-button w3-green w3-margin-bottom" href="{% url 'coming' %}">
          Subscribe
        </a>
      </div>
      </div>
      <section class="mb-2" style="margin-bottom:10px;";>
  
    <div class="container pt-2 text-center" style="padding-right:20px">
     
      <p class ="text-center" style="margin-top:2%; padding-left:10px; font-size: 20px; font-family: Fondamento;color :white">Connect Us Through</p>
        <a
          class="btn btn-link btn btn-lg text-light m-1"
          href="https://www.facebook.com/Bookhub-112723284198179"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn btn-lg text-light m-1"
          href="https://twitter.com/Bookhub10"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn btn-lg text-light m-1"
          href="https://www.instagram.com/__bookhub/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgb(0, 0, 0);">
      © 2021 Copyright
      
    </div>
    <!-- Copyright -->
  </footer>